@import url(./styles/_colors.scss);
@import url(./styles/nose-wind.scss);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  // .bx--side-nav~.bx--content {
  //   margin-left: auto;
  // }
  // .bx--header~.bx--content {
  //   margin-top: 1rem;
  // }
}

.input-with-overflow {
  display: flex;
  // align-items: end;

  .bx--overflow-menu {
    background-color: #f4f4f4;
    border-bottom: 1px solid #8d8d8d;
    margin-top: 24px;
  }
}

.popoverWrapper {
  position: relative;
  display: inline-block;
}

.bx--tag {
  .bx--tag__custom-icon {
    margin-right: 0;
  }

  &.diff {
    &.bold > * {
      font-weight: bold !important;
    }

    min-width: auto;

    &:has(.bx--tag__custom-icon) {
      span:not(:empty) {
        margin-right: 0;
      }

      &:has(span:not(:empty)) {
        .bx--tag__custom-icon {
          margin-left: -3px;
        }
      }
    }
  }
}

#skills {
  .bx--structured-list {
    max-width: 450px;
    margin: auto;

    .bx--structured-list-td.bx--structured-list-content--nowrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 150px;
    }

    .bx--structured-list-thead.centered .bx--structured-list-th,
    .bx--structured-list-th.centered {
      text-align: center;
    }
  }

  .height-adjusted {
    margin: auto;
    position: relative;
    top: 8px;
  }
}

#combat {
  // min-width: 750px;
  min-width: 640px;
  max-width: 650px;
  margin: auto;

  .imgWrapper {
    display: flex;
    min-width: 25px;
    height: 25px;

    img {
      margin: auto;
    }
  }

  .versus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto 20px;

    h4 {
      margin: 0;
    }

    h5 {
      margin: 0 20px;
      opacity: 0.4;
    }

    .bx--skeleton__placeholder {
      height: 32px;
      width: 140px;
    }
  }

  .tile {
    // width: 100px;
    // height: 100px;
    padding: 12px;
    min-height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section {
    display: flex;
    align-items: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr; /* 4 columns, first one is half width */
    grid-template-rows: auto auto; /* 2 rows */
    gap: 10px; /* adjust gap between grid items if necessary */

    .half-width {
      grid-row: span 2; /* makes the element span 2 rows */
    }
  }

  .list-controls {
    display: flex;
    align-items: center;
    padding: 4px 0 12px;
    // border-bottom: 1px solid #e0e0e0;
    // margin-bottom: 12px;

    .btn-set {
      border: 1px solid #e0e0e0;
    }

    .bx--btn {
      padding: 8px;
      min-height: auto;
      color: grey;

      &:not(.bx--btn--selected) {
        svg > * {
          fill: grey;
        }
      }

      &:not(:last-child) {
        margin-right: -0.25rem;
      }
    }

    .bx--btn__icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .empty-list-warning {
    min-height: 140px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bx--structured-list-th {
    white-space: nowrap;
  }

  .bx--structured-list-td.icon-offset svg {
    position: relative;
    top: 14px;
  }

  .bx--tabs__nav {
    width: 100%;

    .bx--tabs__nav-link {
      width: 100% !important;
    }
  }

  .bx--tab-content {
    min-height: 320px;
  }

  .bx--structured-list-tbody {
    .bx--structured-list-row:last-child {
      border-bottom: none;
    }
  }

  // Combat Achievement tier colors
  .bx--tag {
    &.bold {
      font-weight: bold;
    }

    &.bronze {
      background-color: #cd7f32;
      color: #4c2803;
    }
    &.steel {
      background-color: #aaaaaa;
      color: #444444;
    }
    &.black {
      background-color: #222;
      color: #777;
    }
    &.rune {
      background-color: #62cdfb;
      color: #1d4c60;
    }
    &.dragon {
      background-color: #fc7569;
      color: #590000;
    }
    &.bandos {
      background-color: #e8daff;
      color: #491d8b;
    }
  }

  .bronze {
    background-color: #cd7f32;
    color: #4c2803;
  }
  .steel {
    background-color: #aaaaaa;
    color: #444444;
  }
  .black {
    background-color: #222;
    color: #777;
  }
  .rune {
    background-color: #62cdfb;
    color: #1d4c60;
  }
  .dragon {
    background-color: #fc7569;
    color: #590000;
  }
  .bandos {
    background-color: #e8daff;
    color: #491d8b;
  }
}
